<div class="spacer">
	<div class="hand-icon-contact text-center">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_up_white.png", class: "hand-icn-contact", id:"back-to-top" %>
		<% end %>
	</div>
</div>
<div class="footer">
	<div class="vertical-line">
		<div class="footer-page-links footer-child">
			<p><%= link_to "Home", root_path %><br>
			<%= link_to "What We Do", what_we_do_path %><br>
			<%= link_to "Our Case Studies", our_case_studies_path %><br>
			<%= link_to "Management Team", management_team_path %><br>
			<%= link_to "Press & Media", press_media_path %><br>
			<%= link_to "Contact Us", contact_us_path %></p>
		</div>
	</div>
	<div class="vertical-line">
		<div class="footer-address footer-child">
			<p>41-42 Eastcastle Street<br>
			London<br>
			W1W 8DU<br>
			<br>
			+44 (0)20 7042 9250<br>
			<%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %> </p>
		</div>
	</div>
	<div class="vertical-line">
		<!-- <div class="footer-official footer-child">
			<p>Registered Office<br>
			Company No. 0897648<br>
			Vat No. 7456390287<br>
			Registered In England & Wales</p>
		</div> -->
		<div class="sm-icons-footer">
			<%= link_to "https://twitter.com/AddingtonCap", target: "_blank" do %>
				<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
			<% end %>
			<%= link_to "https://www.linkedin.com/company-beta/9333417/", target: "_blank" do %>
				<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
			<% end %>
		</div>
	</div>
	<div class="vertical-line vertical-line-hidden-mob">
		<div class="footer-brochure-img footer-child">
			<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497288388/Screen_Shot_2017-06-12_at_18.25.56_xjesi1.png" %>
		</div>
	</div>
	<div class="vertical-line-last">
		<div class="footer-brochure">
			<%= link_to "Download Brochure", downloadbrochure_path %>
		</div>
	</div>


<!-- mobile -->
<div class="mobile">
	<div class="sm-icons-footer-mob">
		<%= link_to "https://www.twitter.com", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.linkedin.com", target: "_blank" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.facebook.com", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social-media-icon" %>
		<% end %>
	</div>
	<div class="footer-brochure-mob">
		<%= link_to "Download Brochure", downloadbrochure_path %>
	</div>
	<div class="footer-brochure-img-mob footer-child">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497288388/Screen_Shot_2017-06-12_at_18.25.56_xjesi1.png" %>
	</div>
</div>
</div>
