<div class="navbar-addcap-landing navbar-addcap-fixed hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-addcap-brand" do %>
    <%= image_tag "Addington_Capital_logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-addcap-right">

<!-- Navbar menu -->
    <!-- Home link -->
    <div class="outline">
      <%= link_to "HOME", root_path, class: "navbar-addcap-link" %>
    </div>
    <!-- What we do link -->
    <div class="link-outline">
      <%= link_to "WHAT WE DO", "", class: "navbar-addcap-link", id: 'what-we-do-link' %>
    </div>
      <!-- Properties  link -->
    <div class="link-outline">
      <%= link_to "OUR CASE STUDIES", our_case_studies_path, class: "navbar-addcap-link" %>
    </div>
      <!-- Team link -->
    <div class="link-outline">
      <%= link_to "MANAGEMENT TEAM", management_team_path, class: "navbar-addcap-link" %>
    </div>
      <!-- Press link -->
    <div class="link-outline">
      <%= link_to "PRESS & MEDIA", press_media_path, class: "navbar-addcap-link" %>
    </div>
      <!-- Contact link -->
    <div class="link-outline">
      <%= link_to "CONTACT US", contact_us_path, class: "navbar-addcap-link" %>
    </div>
  </div>
</div>



<!-- Dropdown list appearing on mobile only -->
<div class="navbar-addcap-landing navbar-addcap-fixed hidden-md hidden-lg">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-addcap-brand" do %>
    <%= image_tag "" %>
  <% end %>
  <div class="navbar-addcap-item hidden-md hidden-lg">
    <div class="dropdown toggle-white">
      <a class="fa fa-bars dropdown-toggle" data-toggle="dropdown" href="#"></a>
      <ul class="dropdown-menu dropdown-menu-right navbar-addcap-dropdown-menu">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "WHAT WE DO", "", id: 'what-we-do-mobile-link' %></li>
        <li><%= link_to "OUR CASE STUDIES", our_case_studies_path %></li>
        <li><%= link_to "MANAGEMENT TEAM", management_team_path %></li>
        <li><%= link_to "PRESS & MEDIA", press_media_path %></li>
        <li><%= link_to "CONTACT US", contact_us_path %></li>
      </ul>
    </div>
  </div>
</div>

