<hr>
<div class="archive-news-post">
	<div class="news-date">
		<p>Posted in News on <%= press_release.formatted_date if press_release %></p>
	</div>
	<div class="news-snippet">
		<div class="news-title">
			<p><span><%= press_release.title if press_release %></span></p>
			<div class="news-brief" id="archive-brief-<%= press_release.id %>">
				<p><%= press_release.first_paragraph if press_release %></p>
				<h6><%= link_to "[ READ MORE... ]", "#", class: 'archive-read-more','data-target' => "#archive-#{press_release.id}" %></h6>
			</div>
			<div class="full-news hidden slideDown" id="archive-<%= press_release.id %>">
      <%= cl_image_tag(press_release.photo, width: 400, height: 200, crop: :fill) if press_release.photo? %>
				<p><%= simple_format press_release.body.html_safe if press_release %></p>
				<br>
        <p>Posted in News on <%= press_release.formatted_date if press_release %></p>
				<h6><%= link_to "[ CLOSE ]", "#", class: "archive-close", 'data-target' => "#archive-brief-#{press_release.id}" %></h6>
			</div>
		</div>
	</div>
</div>

