<hr>
<div class="latest-news-post">
	<div class="news-date">
		<h5>Posted in News on <%= press_release.date %></h5>
	</div>
	<div class="news-snippet">
		<div class="news-title">
			<h5><%= press_release.title %></h5>
			<div class="news-brief">
				<p><%= press_release.first_paragraph %></p>
				<h6><%= link_to "[ READ MORE... ]", "#", id: "news-read-more" %></h6>
			</div>
			<div class="full-news hidden slideDown">
      <%= image_tag press_release.photo %>
				<p><%= press_release.body %></p>
				<br>
        <p>Posted in News on <%= press_release.date %></p>
				<h6><%= link_to "[ CLOSE ]", "#", id: "news-close" %></h6>
			</div>
		</div>
	</div>
</div>
<hr>
