<hr>
<div class="latest-news-post">
	<div class="news-date">
		<h5>Posted in News on <%= press_release.formatted_date if press_release %></h5>
	</div>
	<div class="news-snippet">
		<div class="news-title">
			<h5><%= press_release.title if press_release %></h5>
			<div class="news-brief" id="news-brief-<%= press_release.id %>">
				<p><%= press_release.first_paragraph if press_release %></p>
				<h6><%= link_to "[ READ MORE... ]", "#", class: 'news-read-more','data-target' => "#news-#{press_release.id}" %></h6>
			</div>
			<div class="full-news hidden slideDown" id="news-<%= press_release.id %>">
      <%= cl_image_tag(press_release.photo, width: 400, height: 200, crop: :fill) if press_release %>
				<p><%= press_release.body if press_release %></p>
				<br>
        <p>Posted in News on <%= press_release.formatted_date if press_release %></p>
				<h6><%= link_to "[ CLOSE ]", "#", class: "news-close", 'data-target' => "#news-brief-#{press_release.id}" %></h6>
			</div>
		</div>
	</div>
</div>
<hr>
