<%= render 'shared/navbar_main' %>
<div class="pages-banner contact-banner">
	<div class="pages-banner-content">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social_media_icon" %>
		<% end %>
		<h2>CONTACT US</h2>
	</div>
</div>
<div class="blue-contact-wrapper">
	<div class="contact-text text-center">
		<%= render 'pages/contact_details' %>
	</div>
</div>
