<%= render 'shared/navbar_main' %>
<div class="pages-banner contact-banner">
	<div class="pages-banner-content">
		<%= link_to "https://twitter.com/AddingtonCap", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.linkedin.com/company-beta/9333417/", target: "_blank" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
		<h2 class="contact-title">CONTACT US</h2>
	</div>
</div>
<div class="blue-contact-wrapper">
	<div class="contact-text text-center">
		<%= render 'pages/contact_details' %>
	</div>
</div>

