<div class="banner-landing" id="home-main">
	<div class="banner-content" id="Wrapper">
		<h1>Addington Capital:</h1>
		<h3>Flurry of Investment Sales shows growing
		demand for commercial property from HNW’s</h3>
		<h4>As consernam nonserum laudandunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</h4>
	    <h5>23rd Jan 2017</h5>
	    <h6><%= link_to "[ READ MORE ]...", "" %></h6>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social_media_icon" %>
		<% end %>
	</div>
	<div class="more-press-landing text-center">
		<h6><%= link_to "[ MORE PRESS ]", "" %></h6>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down.png", class: "hand-icon-landing", id: "header-page-down" %>
		<% end %>
	</div>
</div>
<div class="blue-value-wrapper">
	<h1>£<%= @transaction.value %>M</h1>
	<h4>VALUE OF<br>TRANSACTIONS<br>TO DATE</h4>
</div>
<div class="press-wrapper">
	<div class="pressmedia">
		<h2>PRESS & MEDIA</h2>
		<div class="press-tabs">
			<h5><%= link_to "LATEST NEWS", "" %></h5>
			<h5><%= link_to "NEWS ARCHIVE", "" %></h5>
		</div>
		<div class="latest-news">
			<div class="dotted-line"></div>
			<%= render 'pages/press_cuttings' %>
		</div>
		<div id="what-we-do-jump"></div>
		<div class="hand-icon-press text-center">
			<%= link_to "" do %>
				<%= image_tag "Addington_Capital_down_black.png", class: "hand-icn-press" %>
			<% end %>
		</div>
	</div>
</div>
<div class="what-we-do-wrapper">
	<%= link_to "" do %>
		<%= image_tag "Addington_Capital_arrow_left.png", class: "arrow about-arrow" %>
	<% end %>
	<div class="what-we-do text-center">
		<h1>WHAT WE DO</h1>
		<h4>Addington adopts a research led approach to the macroeconomic factors<br> affecting its investment decisions and a bottom up analysis of specific projects.</h4>
		<h3>RESIDENTIAL</h3>
		<h5>Renim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum Xerum venim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum.</h5>
		<h6>[ VIEW CASE STUDIES... ]</h6>
	</div>
	<%= link_to "" do %>
		<%= image_tag "Addington_Capital_arrow_right.png", class: "arrow about-arrow" %>
	<% end %>
</div>
<div class="spacer">
	<div class="text-center">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down_white.png", class: "hand-icn-about" %>
		<% end %>
	</div>
</div>
<div class="blue-contact-wrapper">
	<div class="contact-text text-center">
		<h2>CONTACT US</h2>
		<%= render 'pages/contact_details' %>
	</div>
</div>






