<%= render 'shared/navbar_landing' %>
<div class="banner-landing" id="home-main">
	<div class="banner-content" id="Wrapper">
		<h1>Addington Capital:</h1>
		<h3>Flurry of Investment Sales shows growing
		demand for commercial property from HNW’s</h3>
		<h4>As consernam nonserum laudandunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</h4>
	    <h5>23rd Jan 2017</h5>
	    <h6><%= link_to "[ READ MORE ]...", press_media_path %></h6>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social_media_icon" %>
		<% end %>
	</div>
	<div class="more-press-landing text-center">
		<h6>[ MORE PRESS ]</h6>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down.png" "#press", class: "hand-icon-landing", id: "header-page-down" %>
		<% end %>
	</div>
</div>
<div class="blue-value-wrapper">
	<h1>£<%= @transaction.value %>M</h1>
	<h4>VALUE OF<br>TRANSACTIONS<br>TO DATE</h4>
</div>
<div class="press-wrapper" id="press">
<div class="pressmedia">
	<h2>PRESS & MEDIA</h2>
	<div class="home-press-tabs">
		<h5><span><%= link_to "LATEST NEWS", "" %></span></h5>
		<h5><%= link_to "NEWS ARCHIVE", press_media_path(:anchor => 'news-archive') %></h5>
	</div>
	<div class="latest-news">
		<div class="dotted-line"></div>
    <% @latest_press_releases.each do |press_release| %>
		  <%= render 'pages/press_cuttings', press_release: press_release %>
    <% end %>
	</div>
	<div id="whatwedo"></div>
	<div class="hand-icon-press text-center">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down_black.png", class: "hand-icn-press", id: "press-page-down" %>
		<% end %>
	</div>
</div>
</div>
<div class="what-we-do-margin hidden"></div>
<div class="what-we-do-wrapper" id="what-we-do">
	<%= link_to "" do %>
		<%= image_tag "Addington_Capital_arrow_left.png", class: "arrow about-arrow about-arrow-left" %>
	<% end %>
	<div class="what-we-do text-center">
		<h1>WHAT WE DO</h1>
		<h4>Addington adopts a research led approach to the macroeconomic factors<br> affecting its investment decisions and a bottom up analysis of specific projects.</h4>

		<div class="what-we-do-links">
  		<%= link_to our_case_studies_path(:anchor => 'home-retail') do %>
        <h5 class="active">RETAIL</h5>
      <% end %>
      <%= link_to our_case_studies_path(:anchor => 'home-residential') do %>
        <h5>RESIDENTIAL</h5>
      <% end %>
      <%= link_to our_case_studies_path(:anchor => 'home-offices') do %>
        <h5>OFFICES</h5>
      <% end %>
		</div>

		<div class="about about-retail active">
			<h3>RETAIL</h3>
			<h5>Renim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum Xerum venim et odi doluptatem di cust eatis explacest utet et quos esto consequidis excestiatia esto quatus sus consernam nonserum.</h5>
      		<%= link_to our_case_studies_path(:anchor => 'home-retail') do %>
    		<h6>[ VIEW CASE STUDIES... ]</h6>
    	<% end %>
		</div>

		<div class="about about-residential">
			<h3>RESIDENTIAL</h3>
			<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus iusto aliquid sequi delectus inventore a facilis nulla, recusandae eligendi voluptatem magnam nobis impedit, maxime quo dolore nostrum. Veniam, ducimus, culpa eligendi voluptatem magnam nobis impedit.</h5>
      <%= link_to our_case_studies_path(:anchor => 'home-residential') do %>
    <h6>[ VIEW CASE STUDIES... ]</h6>
    <% end %>
		</div>

    <div class="about about-offices">
      <h3>OFFICES</h3>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus iusto aliquid sequi delectus inventore a facilis nulla, recusandae eligendi voluptatem magnam nobis impedit, maxime quo dolore nostrum. Veniam, ducimus, culpa eligendi voluptatem magnam nobis impedit.</h5>
      <%= link_to our_case_studies_path(:anchor => 'home-offices') do %>
    <h6>[ VIEW CASE STUDIES... ]</h6>
    <% end %>
    </div>

	</div>
	<%= link_to "" do %>
		<%= image_tag "Addington_Capital_arrow_right.png", class: "arrow about-arrow about-arrow-right" %>
	<% end %>
</div>
<div class="spacer">
	<div class="text-center">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down_white.png", class: "hand-icn-about", id: "what-we-do-page-down"%>
		<% end %>
	</div>
</div>
<div class="blue-contact-wrapper">
	<div class="contact-text text-center">
		<h2>CONTACT US</h2>
		<%= render 'pages/contact_details' %>
	</div>
</div>






