<%= render 'shared/navbar_landing' %>
<div class="banner-landing" id="home-main">
	<div class="banner-content" id="Wrapper">
		<h1>Addington Capital:</h1>
		<h3>Mission Statement </h3>
		<h4>"To be the operating partner of choice for value investors active in the UK real estate markets."</h4>
	    <!-- <h5>23rd Jan 2017</h5>
	    <h6><%= link_to "[ READ MORE ]...", press_media_path %></h6> -->
		<%= link_to "https://twitter.com/AddingtonCap", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.linkedin.com/company/addington-capital-llp", target: "_blank" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
	</div>
	<div class="more-press-landing text-center">
		<h6>[ MORE PRESS ]</h6>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down.png" "#press", class: "hand-icon-landing", id: "header-page-down" %>
		<% end %>
	</div>
</div>
<div class="press-wrapper" id="press">
	<div class="pressmedia">
		<p class="press-title">PRESS & MEDIA</p>
		<div class="home-press-tabs">
			<h5><%= link_to "LATEST NEWS", "" %></h5>
			<h5><%= link_to "NEWS ARCHIVE", press_media_path(:anchor => 'news-archive') %></h5>
		</div>
		<div class="latest-news">
			<div class="dotted-line"></div>
	    <% @latest_press_releases.each do |press_release| %>
			  <%= render 'pages/press_cuttings', press_release: press_release %>
	    <% end %>
		</div>
    <div id="whatwedo"></div>
		<div class="hand-icon-press text-center">
			<%= link_to "" do %>
				<%= image_tag "Addington_Capital_down_black.png", class: "hand-icn-press", id: "press-page-down" %>
			<% end %>
		</div>
	</div>
</div>
<div class="what-we-do-margin hidden"></div>
<div class="what-we-do-wrapper" id="what-we-do">
	<%= link_to "", class: "about-arrow-left" do %>
		<%= image_tag "Addington_Capital_arrow_left.png", class: "arrow" %>
	<% end %>
	<div class="what-we-do text-center">
		<h1>WHAT WE DO</h1>
		<h4>Addington is an active investor and manager of assets in the office, retail and residential markets in the UK. We understand property and have a strong track record of unlocking and creating value. We bring creative thinking and an experienced management team to maximise investment returns through asset and development management.
		</h4>
    <span>
  		<div class="what-we-do-links">
          <h5 class="active" data-target=".about-retail">RETAIL</h5>
          <h5 data-target=".about-residential">RESIDENTIAL</h5>
          <h5 data-target=".about-offices">OFFICES</h5>
  		</div>
    </span>
    <div class="what-we-do-content">
  		<div class="about about-retail active">
  			<h3>RETAIL</h3>
  			<h5>We have national retail experience ranging from small shops to town centre dominant shopping centres, with expertise in the restaurant and leisure sector</h5>
        <%= link_to our_case_studies_path do %>
      		<h6>[ VIEW ALL CASE STUDIES... ]</h6>
      	<% end %>
  		</div>

  		<div class="about about-residential">
  			<h3>RESIDENTIAL</h3>
  			<h5>Addington has acquired residential portfolios and individual blocks of apartments across the UK. We develop, refurbish, manage and let or sell.</h5>
        <%= link_to our_case_studies_path(anchor: 'home-residential') do %>
          <h6>[ VIEW ALL CASE STUDIES... ]</h6>
        <% end %>
  		</div>

      <div class="about about-offices">
        <h3>OFFICES</h3>
        <h5>We actively manage, refurbish and redevelop offices in central London, the south east and in office markets throughout the UK.</h5>
        <%= link_to our_case_studies_path(anchor: 'home-offices') do %>
          <h6>[ VIEW ALL CASE STUDIES... ]</h6>
        <% end %>
      </div>

    </div>
	</div>
	<%= link_to "", class: "about-arrow-right" do %>
		<%= image_tag "Addington_Capital_arrow_right.png", class: "arrow" %>
	<% end %>
</div>
<div class="spacer">
	<div class="text-center">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_down_white.png", class: "hand-icn-about", id: "what-we-do-page-down"%>
		<% end %>
	</div>
</div>
<div class="blue-contact-wrapper">
	<div class="contact-text text-center">
  <h2 style="padding: 20px 0px 10px 0px;">CONTACT US</h2>
  <p class="contact-address">41-42 Eastcastle Street, London, W1W 8DU</p>
  <p><span>T: </span>+44 (0)20 7042 9250</p>
  <p><span>E: </span><%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %></p>
  <div class="contact-img">
    <%= image_tag "6818-Addliving-Map.jpg" %>
  </div>
</div>
</div>

