<%= render 'shared/navbar_main' %>
<div class="pages-banner press-banner">
	<div class="pages-banner-content">
		<%= link_to "https://twitter.com/AddingtonCap", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.linkedin.com/company-beta/9333417/", target: "_blank" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
		<h2>MANAGEMENT TEAM</h2>
	</div>
</div>
<div class="team-boxes team-row-one">
	<div class="team-box">
    <div class="pointer" id="team-member-martin">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726482/a059_martin_roberts_aymjaj.png" %>
			<p class="team-name">Martin Roberts MRICS</p>
			<p class="team-title">Principal and Co-Founder</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "martin@addingtoncapital.com", "mailto:martin@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'roberts') %></span></p>
	</div>

	<div class="team-box">
    <div class="pointer" id="team-member-matthew">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726482/AC090_matthew_allen_l2izbo.jpg" %>
			<p class="team-name">Matthew Allen MRICS</p>
			<p class="team-title">Principal and Co-Founder</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "matthew@addingtoncapital.com", "mailto:matthew@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
		<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'allen') %></span></p>
	</div>
</div>
<div class="team-boxes team-row-two">
	<div class="team-box">
    <div class="pointer" id="team-member-alex">
		  <%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549047063/Roshan_Ramlugun_Small_384x422px_ey4wte.jpg" %>
			<p class="team-name">Roshan Ramlugun MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "roshan@addingtoncapital.com", "mailto:roshan@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
		<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'ramlugun') %></span></p>
	</div>

	<div class="team-box">
    <div class="pointer" id="team-member-anna">
		  <%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549046855/Helen_Shellabear_Small_384_x_422px_ifugzw.jpg" %>

			<p class="team-name">Helen Shellabear MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "helen@addingtoncapital.com", "mailto:helen@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'shellabear') %></span></p>
	</div>

	<div class="team-box">
    <div class="pointer" id="team-member-philip">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726481/a099_Philip_symonds_rfxnlw.png" %>
			<p class="team-name">Philip Symonds MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "philip@addingtoncapital.com", "mailto:philip@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'symonds') %></span></p>
	</div>
</div>
<div class="team-boxes team-row-three">
	<div class="team-box">
    <div class="pointer" id="team-member-steven">
		  <%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549047111/Tim_Cornford_Small_384x422px_rrdbmn.jpg" %>
			<p class="team-name">Tim Cornford MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "tim@addingtoncapital.com", "mailto:tim@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'cornford') %></span></p>
	</div>
	<div class="team-box">
    <div class="pointer" id="team-member-nic">
		  <%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549047014/Mike_McGovern_Small_384x422px_bfq3yg.jpg" %>
			<p class="team-name">Mike McGovern</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "mike@addingtoncapital.com", "mailto:mike@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'mcgovern') %></span></p>
	</div>
</div>



<div class="team-lg team-martin">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498727024/a059_martin_roberts_q4lixp.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Martin Roberts MRICS</p>
		<p class="team-title-lg">Principal and co-Founder</p>
		<p class="team-intro-lg">Martin has extensive market contacts and detailed knowledge of arranging and structuring deals - a result of over 35 years of experience in the acquisition, asset management, leasing and disposal of real estate assets across London and the UK.</p>
		<p class="team-para-lg">Previously Property Director of CIT Group PLC and a partner at Knight Frank, Martin has acquired and sold over £2bn of assets in the commercial, residential and leisure sectors of the UK property market including advising on high profile buildings in Central London. Recent projects include development and asset management of central London offices, UK wide shopping centres and private rented sector residential investment sale and asset management.  
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "martin@addingtoncapital.com", "mailto:martin@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'roberts') %></span></p>
	</div>
</div>
<div class="team-lg team-matthew hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498727058/AC090_matthew_allen_sccw1o.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Matthew Allen MRICS</p>
		<p class="team-title-lg">Principal and co-Founder</p>
		<p class="team-intro-lg">Matthew has over 25 years’ experience in the UK property market.</p>
		<p class="team-para-lg">Prior to setting up Addington, Matthew was UK acquisitions director at CIT and prior to that a director at DTZ and DTZ Corporate Finance (now Cushman & Wakefield), principally in the investment agency and property finance teams, based in London. He has also worked in property overseas spending 3 years in South Africa and 3 years in Kuwait. 
 		<br>
		Matthew leads the origination of new deals in both the commercial and residential sectors and oversees the team from inception to the final sale of the project.  
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "matthew@addingtoncapital.com", "mailto:matthew@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'allen') %></span></p>
	</div>
</div>
<div class="team-lg team-alex hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549047062/Roshan_Ramlugun_Large_771x480px_blu3ia.jpg" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Roshan Ramlugun MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Roshan joined Addington as an analyst from JLL corporate finance in 2014.</p>
		<p class="team-title-lg">Since then he has been heavily involved in our residential projects leading the asset management and subsequent disposals of the Ship and Lakenheath Portfolios. More recently, his projects have included the sale of units in Velocity Village, the conversion to residential and sale of the Queen’s Building in Sheffield and the acquisition and asset management of the Merlin Portfolio.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "roshan@addingtoncapital.com", "mailto:roshan@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'ramlugun') %></span></p>
	</div>
</div>
<div class="team-lg team-anna hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549046855/Helen_Shellabear_Large_771_x_480Px_rmxhgv.jpg" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Helen Shellabear MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Helen joined Addington from Hudson Advisors where she was responsible for developing short, medium and long-term value-added strategies in relation to real estate assets & portfolios on behalf of the Lone Star Funds.</p>
		<p class="team-para-lg">During her time at Hudson, she oversaw assets under management in excess of £1bn across all sectors in the UK.
		<br></br>
		Helen has responsibility for a portfolio of assets in the office and retail sectors.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "helen@addingtoncapital.com", "mailto:helen@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'shellabear') %></span></p>
	</div>
</div>
<div class="team-lg team-philip hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726975/a099_Philip_symonds_vo9giq.jpg" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Philip Symonds MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Philip joined Addington in 2012 as an Associate Partner with initial responsibility for acquisition underwriting and asset management. Philip was previously with NAMA and prior to that Cushman & Wakefield.</p>
		<p class="team-para-lg">Phil has worked on all aspects of our major residential investments; Waterside Apartments and Headingley Park in Leeds and Velocity Village in Sheffield. He worked on the acquisition of two mixed use portfolios and is implementing refurbishment and extension plans within each portfolio.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "philip@addingtoncapital.com", "mailto:philip@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'symonds') %></span></p>
	</div>
</div>
<div class="team-lg team-steven hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549047111/Tim_Cornford_Large_771x480px_wkjymh.jpg" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Tim Cornford MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Tim joined us from Ellandi and is responsible for looking after the group’s retail assets, its four shopping centres, bought in joint venture with its partners and all other retail and leisure assets.</p>
		<p class="team-para-lg">Tim took a lead role in many of Ellandi’s acquisitions and managed a portfolio of six shopping centres with four equity partners. He took a lead role in several town centre-wide repositioning developments, acquiring new assets, active asset management, managing letting and lease renewal processes and liaising with councils and stakeholders. He was also Head of Car parking strategy.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "tim@addingtoncapital.com", "mailto:tim@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'cornford') %></span></p>
	</div>
</div>
<div class="team-lg team-nic hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1549047014/Mike_McGovern_Large_771_x_480px_bquumt.jpg" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Mike McGovern</p>
		<p class="team-title-lg">Mike joined us from Eastern and Oriental and is responsible for our development management team, which focuses on office, residential and retail refurbishment and repurposing schemes.</p>
		<p class="team-para-lg">At Eastern and Oriental he was responsible for the development proposals for Landmark House, Hammersmith, a 340,000 sq ft RSHP designed mixed use scheme to deliver a 24 floor Hotel with sky bar, two office blocks with retail and cultural space at ground floor. Other schemes included a 48-room serviced apartment block in Holborn and the redevelopment, behind the original façade, of Esca House from offices to 28 residential apartments.  Prior to that he was at Buro Four for eight years where he worked on prestigious schemes in both the City and West End, including 55 Gresham Street, 127 Kensington High Street and 22-23 Newman Street.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "mike@addingtoncapital.com", "mailto:mike@addingtoncapital.com" %></p>
    	<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'mcgovern') %></span></p>
	</div>
</div>

