<div class="pages-banner press-banner">
	<div class="pages-banner-content">
		<h5><%= link_to "" do %>
			<i class= "fa fa-twitter"></i>
			<i class= "fa fa-instagram"></i>
			<i class= "fa fa-facebook"></i>
		<% end %>
		</h5>
		<h2>MANAGEMENT TEAM</h2>
	</div>
</div>
<div class="team-boxes team-row-one">
	<div class="team-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497456440/Screen_Shot_2017-06-14_at_17.06.33_aoertv.png" %>
		<div class="team-text">
			<h5>Martin Robers</h5>
			<h6>Principal</h6>
			<p>M: +44 (0)20 7042 9250<br>
				E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %>
			</p>
			<p><span>Download vCard</span></p>
		</div>
	</div>
	<div class="team-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497456440/Screen_Shot_2017-06-14_at_17.06.33_aoertv.png" %>
		<div class="team-text">
			<h5>Martin Robers</h5>
			<h6>Principal</h6>
			<p>M: +44 (0)20 7042 9250<br>
				E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %>
			</p>
			<p><span>Download vCard</span></p>
		</div>
	</div>
</div>
<div class="team-boxes team-row-two">
	<div class="team-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497456440/Screen_Shot_2017-06-14_at_17.06.33_aoertv.png" %>
		<div class="team-text">
			<h5>Martin Robers</h5>
			<h6>Principal</h6>
			<p>M: +44 (0)20 7042 9250<br>
				E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %>
			</p>
			<p><span>Download vCard</span></p>
		</div>
	</div>
	<div class="team-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497456440/Screen_Shot_2017-06-14_at_17.06.33_aoertv.png" %>
		<div class="team-text">
			<h5>Martin Robers</h5>
			<h6>Principal</h6>
			<p>M: +44 (0)20 7042 9250<br>
				E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %>
			</p>
			<p><span>Download vCard</span></p>
		</div>
	</div>
	<div class="team-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497456440/Screen_Shot_2017-06-14_at_17.06.33_aoertv.png" %>
		<div class="team-text">
			<h5>Martin Robers</h5>
			<h6>Principal</h6>
			<p>M: +44 (0)20 7042 9250<br>
				E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %>
			</p>
			<p><span>Download vCard</span></p>
		</div>
	</div>
	<div class="team-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497456440/Screen_Shot_2017-06-14_at_17.06.33_aoertv.png" %>
		<div class="team-text">
			<h5>Martin Robers</h5>
			<h6>Principal</h6>
			<p>M: +44 (0)20 7042 9250<br>
				E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %>
			</p>
			<p><span>Download vCard</span></p>
		</div>
	</div>
</div>
<div class="team-lg">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497459571/Screen_Shot_2017-06-14_at_17.58.37_a9fgmv.png" %>
	</div>
	<div class="team-lg-text">
		<h4><span>Matthew Allen</span></h4>
		<h6>Principal</h6>
		<h5>Matthew has spent his career in the property investment markets including financing, development and asset management.</h5>
		<p>He has over 25 years property experience including 6 years overseas and working across most sectors of the UK property market. 
		<br></br>
		Matthew is a chartered surveyor and was formerly a director of DTZ and DTZ Corporate Finance for over 10 years and latterly with CIT Group Plc. Over this time he has worked on many large and complex direct and indirect investment and funding transactions.<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "info@addingtoncapital.com", "mailto:info@addingtoncapital.com" %></p>
		<p><span>Download vCard</span></p>
	</div>
</div>

