<%= render 'shared/navbar_main' %>
<div class="pages-banner press-banner">
	<div class="pages-banner-content">
		<%= link_to "https://twitter.com/AddingtonCap", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.linkedin.com/company-beta/9333417/", target: "_blank" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
		<h2>MANAGEMENT TEAM</h2>
	</div>
</div>
<div class="team-boxes team-row-one">
	<div class="team-box">
    <div class="pointer" id="team-member-martin">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726482/a059_martin_roberts_aymjaj.png" %>
			<p class="team-name">Martin Roberts MRICS</p>
			<p class="team-title">Principal and Co-Founder</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "martin@addingtoncapital.com", "mailto:martin@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'roberts') %></span></p>
	</div>

	<div class="team-box">
    <div class="pointer" id="team-member-matthew">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726482/AC090_matthew_allen_l2izbo.jpg" %>
			<p class="team-name">Matthew Allen MRICS</p>
			<p class="team-title">Principal and Co-Founder</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "matthew@addingtoncapital.com", "mailto:matthew@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
		<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'allen') %></span></p>
	</div>
</div>

<div class="team-boxes team-row-two">
	<div class="team-box">
    <div class="pointer" id="team-member-alex">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726482/a080_alex_wagstaff_drunnj.png" %>
			<p class="team-name">Alex Wagstaff MRICS</p>
			<p class="team-title">Partner, Head of Retail & Leisure</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "alex@addingtoncapital.com", "mailto:alex@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
		<p><span><%= link_to "Download vCard", downloadvcard_path(name: 'wagstaff') %></span></p>
	</div>

	<div class="team-box">
    <div class="pointer" id="team-member-anna">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726482/a025_anna_hwang_ujuexc.png" %>

			<p class="team-name">Anna Hwang MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "anna@addingtoncapital.com", "mailto:anna@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'hwang') %></span></p>
	</div>

	<div class="team-box">
    <div class="pointer" id="team-member-philip">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726481/a099_Philip_symonds_rfxnlw.png" %>
			<p class="team-name">Philip Symonds MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "philip@addingtoncapital.com", "mailto:philip@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'symonds') %></span></p>
	</div>
</div>

<div class="team-boxes team-row-three">
	<div class="team-box">
    <div class="pointer" id="team-member-steven">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726481/a037_steven_vaughn_xqxdjx.png" %>
			<p class="team-name">Steven Vaughan MRICS</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "steven@addingtoncapital.com", "mailto:steven@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'vaughan') %></span></p>
	</div>
	<div class="team-box">
    <div class="pointer" id="team-member-nic">
		  <%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726481/a054_nic_bouma_fueabn.png" %>
			<p class="team-name">Nic Bouma BSc, MSc</p>
			<p class="team-title">Partner</p>
    </div>
    <div class="team-text">
			<span>T: +44 (0)20 7042 9250</span><br>
			<span>E: <%= link_to "nic@addingtoncapital.com", "mailto:nic@addingtoncapital.com" %>
			</span>
			<div id="empty-div"></div>
    </div>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'bouma') %></span></p>
	</div>
</div>
<div class="team-lg team-martin">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498727024/a059_martin_roberts_q4lixp.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Martin Roberts MRICS</p>
		<p class="team-title-lg">Principal and co-Founder</p>
		<p class="team-intro-lg">Martin has extensive market contacts and detailed knowledge of arranging and structuring deals - a result of over 30 years of experience in the acquisition, asset management, leasing and disposal of real estate assets across London and the UK.</p>
		<p class="team-para-lg">Previously Property Director of CIT Group PLC and a partner at Knight Frank, Martin has acquired and sold over £2bn of assets in the commercial, residential and leisure sectors of the UK property market including advising on high profile buildings in Central London. Recent projects include development and asset management of central London offices, UK wide shopping centres and private rented sector residential investment sale and asset management.  
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "martin@addingtoncapital.com", "mailto:martin@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'roberts') %></span></p>
	</div>
</div>
<div class="team-lg team-matthew hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498727058/AC090_matthew_allen_sccw1o.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Matthew Allen MRICS</p>
		<p class="team-title-lg">Principal and co-Founder</p>
		<p class="team-intro-lg">Matthew has over 25 years’ experience in the UK property market.</p>
		<p class="team-para-lg">Prior to setting up Addington, Matthew was UK acquisitions director at CIT and prior to that a director at DTZ and DTZ Corporate Finance (now Cushman & Wakefield), principally in the investment agency and property finance teams, based in London. He has also worked in property overseas spending 3 years in South Africa and 3 years in Kuwait. 
 		<br>
		Matthew leads the origination of new deals in both the commercial and residential sectors and oversees the team from inception to the final sale of the project.  
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "matthew@addingtoncapital.com", "mailto:matthew@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'allen') %></span></p>
	</div>
</div>
<div class="team-lg team-alex hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498727177/a080_alex_wagstaff_prvsn3.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Alex Wagstaff MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Alex was previously a retail asset manager at Modus and prior to that  worked in the retail and leisure agency at DTZ (now Cushman & Wakefield) in Manchester.</p>
		<p class="team-title-lg">He is primarily responsible for the Shopping Centre Portfolio including overseeing the redevelopment and repositioning of Charter Walk in Burnley. Notable lettings have been secured with Next, Primark, Wilko and Poundland. At the Harvey Centre, Harlow he has secured a pre-letting to a 6 screen Cineworld and the acquisition and redevelopment of an ex-M&S store.<br></br>
		Alex has extensive experience of the asset management of individual High Street retail, whilst notable leisure successes have included the first letting to Bierkeller in Birmingham.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "alex@addingtoncapital.com", "mailto:alex@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'wagstaff') %></span></p>
	</div>
</div>
<div class="team-lg team-anna hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726956/a025_anna_hwang_fclhto.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Anna Hwang MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Anna has 14 years property experience and has worked with Martin and Matthew since their time at CIT and prior to that in the HSBC International Bank’s commercial real estate team.</p>
		<p class="team-para-lg">She is a project leader and is responsible for the analysis and underwriting of new projects as well as managing disposals and overseeing client reporting. Key transactions include the acquisition and project management of Project Tree, a £150m mixed portfolio with 143 properties and over 900 tenancies and the Retail Plus JPUT acquisition with Och-Ziff. Anna was responsible for the successful letting and sale of the offices at 6, Dowgate Hill EC4. 
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "anna@addingtoncapital.com", "mailto:anna@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'hwang') %></span></p>
	</div>
</div>
<div class="team-lg team-philip hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726975/a099_Philip_symonds_vo9giq.jpg" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Philip Symonds MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Philip joined Addington in 2012 as an Associate Partner with initial responsibility for acquisition underwriting and asset management. Philip was previously with NAMA and prior to that Cushman & Wakefield.</p>
		<p class="team-para-lg">He has recently worked on the acquisition, asset management and sale of Waterside Apartments, Leeds,  a 183 unit private rented sector scheme for £25m and the acquisition of a £42m UK-wide mixed use portfolio. Philip  leads the asset management of key assets in the  office, industrial and residential sectors of our business.
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "philip@addingtoncapital.com", "mailto:philip@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'symonds') %></span></p>
	</div>
</div>
<div class="team-lg team-steven hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498726965/a037_steven_vaughn_ossxui.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Steven Vaughan MRICS</p>
		<p class="team-title-lg">Partner</p>
		<p class="team-intro-lg">Steven joined Addington in 2016 having spent the previous 13 years as Property Director of The Conygar Investment Company PLC.</p>
		<p class="team-para-lg">He has specific responsibility for the asset management of large multi-let office buildings in Central London for overseas clients, the asset management, letting and disposal of other assets in national mixed use portfolios and the sourcing and acquisition of new investment opportunities. 
		<br></br>Most recent projects at Addington include the sale of a 400,000 sq ft industrial property in Yorkshire, the letting of a 42,000 sq ft office building in south London, and obtaining planning permission for a 200,000 sq ft industrial redevelopment in Braintree.  
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "steven@addingtoncapital.com", "mailto:steven@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'vaughan') %></span></p>
	</div>
</div>
<div class="team-lg team-nic hidden">
	<div class="team-lg-image text-center">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1498727000/a054_nic_bouma_cp8wmj.png" %>
	</div>
	<div class="team-lg-text">
		<p class="team-name-lg">Nic Bouma</p>
		<p class="team-title-lg">BSc (Construction Management) MSc (Real Estate Investment)</p>
		<p class="team-intro-lg">Nic joined Addington in 2014 as Head of Development Management from the V&A Waterfront in Cape Town, where he had been responsible for the masterplanning and development of retail, office and residential schemes.</p>
		<p class="team-para-lg">Nic began his career in construction project management with Bovis, Mace and ISG and has subsequently focused on planning and development management of complex projects large and small. Notable successes have included redevelopment of existing buildings for office, residential, retail and leisure uses. At Addington, this has included office schemes at 6, Dowgate Hill, Harmsworth House and Carew House Wallington. Nic has planned and delivered the successful PDR conversion from offices to residential at Headingley Park and has led the masterplanning of the residential scheme for 470 units in Harlow.  
		<br></br>
		T: +44 (0)20 7042 9250<br>
		E: <%= link_to "nic@addingtoncapital.com", "mailto:nic@addingtoncapital.com" %></p>
    <p><span><%= link_to "Download vCard", downloadvcard_path(name: 'bouma') %></span></p>
	</div>
</div>

