<%= render 'shared/navbar_main' %>
<div class="pages-banner">
	<div class="pages-banner-content">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social_media_icon" %>
		<% end %>
		<h2>OUR PROPERTIES</h2>
	</div>
</div>
<div class="properties-tabs">
	<h5><%= link_to "DEVELOPMENT", "" %></h5>
	<h5><%= link_to "RETAIL", "" %></h5>
	<h5><%= link_to "RESIDENTIAL", "" %></h5>
	<h5><%= link_to "OFFICES", "" %></h5>
</div>
<div class="properties-wrapper">
<div class="properties-boxes">
	<div class="properties-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
		<div class="properties-text">
			<h5>HARMSWORTH HOUSE</h5>
			<p>As consernam nonserumlauda ndunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</p>
			<h6>[ READ MORE ]</h6>
		</div>
		<div class="property-box-overlay"></div>
	</div>
	<div class="properties-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
		<div class="properties-text">
			<h5>HARMSWORTH HOUSE</h5>
			<p>As consernam nonserumlauda ndunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</p>
			<h6>[ READ MORE ]</h6>
		</div>
		<div class="property-box-overlay"></div>
	</div>
	<div class="properties-box">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
		<div class="properties-text">
			<h5>HARMSWORTH HOUSE</h5>
			<p>As consernam nonserumlauda ndunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</p>
			<h6>[ READ MORE ]</h6>
		</div>
		<div class="property-box-overlay"></div>
	</div>
	<div class="properties-box prop-box-bottom">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
		<div class="properties-text">
			<h5>HARMSWORTH HOUSE</h5>
			<p>As consernam nonserumlauda ndunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</p>
			<h6>[ READ MORE ]</h6>
		</div>
		<div class="property-box-overlay"></div>
	</div>
	<div class="properties-box prop-box-bottom">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
		<div class="properties-text">
			<h5>HARMSWORTH HOUSE</h5>
			<p>As consernam nonserumlauda ndunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</p>
			<h6>[ READ MORE ]</h6>
		</div>
		<div class="property-box-overlay"></div>
	</div>
	<div class="properties-box prop-box-bottom">
		<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
		<div class="properties-text">
			<h5>HARMSWORTH HOUSE</h5>
			<p>As consernam nonserumlauda ndunt. Cum nobis reheni omnimpo resero moluptatur aciendi caturui repudit.</p>
			<h6>[ READ MORE ]</h6>
		</div>
		<div class="property-box-overlay"></div>
	</div>
</div>
</div>
<div class="property-wrapper">
	<%= link_to "" do %>
		<%= image_tag "Addington_Capital_arrow_left.png", class: "arrow prop-arrow" %>
	<% end %>
	<div class="property-lg">
		<h5>HARMSWORTH HOUSE</h5>
		<div class="property-lg-box">
			<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1497430841/Screen_Shot_2017-06-14_at_10.00.09_iqbsr2.png" %>
			<div class="property-lg-right">
				<h6>A vacant 6 storey office building located opposite Cannon Street Station in the City of London and comprising 15,261 sq ft.
				</h6>
				<p>The property was acquired with vacant possession and is undergoing a comprehensive refurbishment to include new M&E, lift, WCs and entrance hall. The completed project will be offered to the letting market in summer 2015.</p>
			</div>
		</div>
	</div>
	<%= link_to "" do %>
		<%= image_tag "Addington_Capital_arrow_right.png", class: "arrow prop-arrow" %>
	<% end %>
</div>

