<%= render 'shared/navbar_main' %>
<div class="pages-banner">
	<div class="pages-banner-content">
		<%= link_to "https://twitter.com/AddingtonCap", target: "_blank" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "https://www.linkedin.com/company-beta/9333417/", target: "_blank" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
		<h2>OUR CASE STUDIES</h2>
	</div>
</div>

<div class="case-studies-tabs">
	<h5><%= link_to "RETAIL", "", class: 'retail-tab active' %></h5>
	<h5><%= link_to "RESIDENTIAL", "", class: 'residential-tab' %></h5>
	<h5><%= link_to "OFFICES", "", class: 'offices-tab' %></h5>
</div>

<div class="case-studies-wrapper">

  <!-- Retail -->
  <div class="retail-case-studies" id="home-retail">
  	<div class="case-studies-boxes-top">
    <% retail_case_study_count = 1 %>
    <% @retail_case_studies.each do |case_study| %>
    <% if retail_case_study_count == 4 %>
        </div>
        <div class="case-studies-boxes-bottom">
      <% end %>
  		<div class="case-studies-box" data-target="#<%= case_study.id %>" data-category="#retail">
  			<%= link_to "" do %>
  				<%= cl_image_tag(case_study.photo) %>
  				<div class="case-studies-text">
  					<p class="case-studies-title"><%= case_study.title.upcase %></p>
  					<p><%= case_study.summary.truncate(140) %></p>
  					<h6 class="read-more">[ READ MORE ]</h6>
  				</div>
  				<div class="case-study-box-overlay"></div>
  			<% end %>
  		</div>
        <% retail_case_study_count += 1 %>
      <% end %>
    </div>
  </div>

  <!-- Residential -->
  <div class="residential-case-studies hidden" id="home-residential">
    <div class="case-studies-boxes-top">
    <% residential_case_study_count = 1 %>
    <% @residential_case_studies.each do |case_study| %>
    <% if residential_case_study_count == 4 %>
        </div>
        <div class="case-studies-boxes-bottom">
      <% end %>
      <div class="case-studies-box" data-target="#<%= case_study.id %>" data-category="#residential">
        <%= link_to "" do %>
          <%= cl_image_tag(case_study.photo) %>
          <div class="case-studies-text">
            <p class="case-studies-title"><%= case_study.title.upcase %></p>
            <p><%= case_study.summary.truncate(140) %></p>
            <h6 class="read-more">[ READ MORE ]</h6>
          </div>
          <div class="case-study-box-overlay"></div>
        <% end %>
      </div>
        <% residential_case_study_count += 1 %>
      <% end %>
    </div>
  </div>

  <!-- Offices -->
  <div class="offices-case-studies hidden" id="home-offices">
    <div class="case-studies-boxes-top">
    <% offices_case_study_count = 1 %>
    <% @offices_case_studies.each do |case_study| %>
    <% if offices_case_study_count == 4 %>
        </div>
        <div class="case-studies-boxes-bottom">
      <% end %>
      <div class="case-studies-box" data-target="#<%= case_study.id %>" data-category="#offices">
        <%= link_to "" do %>
          <%= cl_image_tag(case_study.photo) %>
          <div class="case-studies-text">
            <p class="case-studies-title"><%= case_study.title.upcase %></p>
            <p><%= case_study.summary.truncate(140) %></p>
            <h6 class="read-more">[ READ MORE ]</h6>
          </div>
          <div class="case-study-box-overlay"></div>
        <% end %>
      </div>
        <% offices_case_study_count += 1 %>
      <% end %>
    </div>
  </div>

</div>

<div class="case-study-detailed">

  <div class="retail-wrapper case-study-wrapper" id="retail">
  	<%= link_to "#", class: "prop-arrow-left" do %>
  		<%= image_tag "Addington_Capital_arrow_left.png", class: "arrow property-arrow" %>
  	<% end %>
    <div class="case-studies-lg">
    <!-- Retail Case Studies -->
    <% retail_count = 0 %>
    <% @retail_case_studies.each do |case_study| %>
    <% if retail_count == 0 %>
  	  <div class="case-study-lg active" id="<%= case_study.id %>">
    <% else %>
      <div class="case-study-lg" id="<%= case_study.id %>">
    <% end %>
    		<p class="case-study-lg-title"><%= case_study.title.upcase %></p>
    		<div class="case-study-lg-box">
    			<%= cl_image_tag(case_study.photo) %>
    			<div class="case-study-lg-right">
    				<span><%= case_study.summary %></span>
    				<p><%= case_study.description %></p>
    			</div>
    		</div>
    	</div>
    <% retail_count += 1 %>
    <% end %>
</div>
    <%= link_to "#", class: "prop-arrow-right" do %>
      <%= image_tag "Addington_Capital_arrow_right.png", class: "arrow property-arrow" %>
    <% end %>
  </div>

  <div class="residential-wrapper case-study-wrapper hidden" id="residential">
    <%= link_to "#", class: "prop-arrow-left" do %>
      <%= image_tag "Addington_Capital_arrow_left.png", class: "arrow" %>
    <% end %>
    <div class="case-studies-lg">
      <!-- Residential Case Studies -->
      <% residential_count = 0 %>
      <% @residential_case_studies.each do |case_study| %>
      <% if residential_count == 0 %>
        <div class="case-study-lg active" id="<%= case_study.id %>">
      <% else %>
        <div class="case-study-lg" id="<%= case_study.id %>">
      <% end %>
          <p class="case-study-lg-title"><%= case_study.title.upcase %></p>
          <div class="case-study-lg-box">
            <%= cl_image_tag(case_study.photo) %>
            <div class="case-study-lg-right">
              <span><%= case_study.summary %></span>
              <p><%= case_study.description %></p>
            </div>
          </div>
        </div>
      <% residential_count += 1 %>
      <% end %>
    </div>
    <%= link_to "#", class: "prop-arrow-right" do %>
      <%= image_tag "Addington_Capital_arrow_right.png", class: "arrow" %>
    <% end %>
  </div>

  <div class="offices-wrapper case-study-wrapper hidden" id="offices">
    <%= link_to "#", class: "prop-arrow-left" do %>
      <%= image_tag "Addington_Capital_arrow_left.png", class: "arrow" %>
    <% end %>
    <div class="case-studies-lg">
    <!-- Offices Case Studies -->
    <% offices_count = 0 %>
    <% @offices_case_studies.each do |case_study| %>
    <% if offices_count == 0 %>
      <div class="case-study-lg active" id="<%= case_study.id %>">
    <% else %>
      <div class="case-study-lg" id="<%= case_study.id %>">
    <% end %>
        <p class="case-study-lg-title"><%= case_study.title.upcase %></p>
        <div class="case-study-lg-box">
          <%= cl_image_tag(case_study.photo) %>
          <div class="case-study-lg-right">
            <span><%= case_study.summary %></span>
            <p><%= case_study.description %></p>
          </div>
        </div>
      </div>
    <% offices_count += 1 %>
    <% end %>
    </div>
  	<%= link_to "#", class: "prop-arrow-right" do %>
      <%= image_tag "Addington_Capital_arrow_right.png", class: "arrow" %>
    <% end %>

  </div>
</div>

