<%= render 'shared/navbar_main' %>
<div class="pages-banner press-banner">
	<div class="pages-banner-content">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social_media_icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social_media_icon" %>
		<% end %>
		<h2>PRESS & MEDIA</h2>
	</div>
</div>
<div class="pressmedia">
	<div class="press-tabs">
		<h5><%= link_to "LATEST NEWS", "" %></h5>
		<h5><%= link_to "NEWS ARCHIVE", "" %></h5>
	</div>
	<div class="latest-news">
		<%= render 'pages/press_cuttings' %>
	</div>
</div>