<%= render 'shared/navbar_main' %>
<div class="pages-banner press-banner">
	<div class="pages-banner-content">
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Twitter_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_LinkedIn_logo.png", class: "social-media-icon" %>
		<% end %>
		<%= link_to "" do %>
			<%= image_tag "Addington_Capital_Facebook_logo.png", class: "social-media-icon" %>
		<% end %>
		<h2>PRESS & MEDIA</h2>
	</div>
</div>
<div class="pressmedia" id="news-archive">
	<div class="press-tabs">
		<%= link_to "", class: 'latest' do %>
    <h5>LATEST NEWS</h5>
    <% end %>
		<%= link_to "", class: 'archive' do %>
    <h5>NEWS ARCHIVE</h5>
    <% end %>
	</div>
	<div class="latest-news">
  <% @press_releases.first(5).each do |press_release| %>
		<%= render 'pages/press_cuttings', press_release: press_release %>
  <% end %>
	</div>

  <div class="news-archive hidden">
    <% if Date.today.year >= 2018 %>
      <div class="year 2018" data-target=".2018-news">2018</div>
      <div class="2018-news hidden">
        <% @press_releases.each do |press_release| %>
          <% if press_release.date.year == 2018 %>
            <%= render 'pages/archive_press_cuttings', press_release: press_release %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="year 2017" data-target=".2017-news">2017</div>
    <div class="2017-news hidden">
      <% @press_releases.each do |press_release| %>
        <% if press_release.date.year == 2017 %>
          <%= render 'pages/archive_press_cuttings', press_release: press_release %>
        <% end %>
      <% end %>
    </div>
    <div class="year 2016" data-target=".2016-news">2016</div>
    <div class="2016-news hidden">
      <% @press_releases.each do |press_release| %>
        <% if press_release.date.year == 2016 %>
          <%= render 'pages/archive_press_cuttings', press_release: press_release %>
        <% end %>
      <% end %>
    </div>
    <div class="year 2015" data-target=".2015-news">2015</div>
    <div class="2015-news hidden">
      <% @press_releases.each do |press_release| %>
        <% if press_release.date.year == 2015 %>
          <%= render 'pages/archive_press_cuttings', press_release: press_release %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
